/* ! **** bonus: anche su mobile, se c'e' spazio, il testo circonda l'immagine **** */
@media screen and (min-width: 480px){
    picture{
        display: block;
        width: 50%;
        float: left;
        margin-right: 20px;
    }
}

/* ! **** tablet up to 768px */
#adds{
    min-width: 100%;
    height: auto;
    display: none;
}

@media screen and (min-width: 768px){
    .container{
        padding: 45px;
    }

    header{
        display: inline-block;
        padding-left: 20px;
    }

    h2{
        font-size: 2.3rem;
    }

    .tradition{
        display: inline;
    }

    iframe{
        height: 400px;
    }

    #video ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .btn{
        padding: 10px 50px;
    }

    #adds{
        display: inline-block;
    }

    picture{
        width: 40%;
    }

    p{
        font-size: 1rem;
    }
} 

/* ! **** desktop up to 992px ***** */

@media screen and (min-width: 992px){
    h2{
        font-size: 3rem;
    }

    #video{
        display: flex;
        align-items: flex-start;
    }

    iframe{
        flex-basis: 65%;
        height: 450px;
    }

    .recipe-info{
        flex-basis: 35%;
    }

    #video ul{
        display: block;
        padding-bottom: 20px;
    }

    .btn{
        padding: 10px 20px;
    }

    .social-name{
        display: inline;
    }

    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .footer-nav{
        margin-top: 0;
    }
}
